.banner {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../../images/banner/banner-mobile.png');
  background-size: cover;
  min-height: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
