/* For mobile phones: */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-visvis-color);

  &__item {
    padding: 0 20px;
    border-right: 1px solid var(--brand-lightcoral-color);
    &--end {
      border: none;
    }
    &--first {
      border-left: 1px solid var(--brand-lightcoral-color);
    }
  }

  &__icon {
    fill: var(--brand-lightcoral-color);
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .social {
    &__item {
      cursor: pointer;
      padding: 0 15px;
      background-color: transparent;
      transition: var(--transition);

      &:hover {
        background-color: var(--brand-lightcoral-color);
      }

      &:hover svg {
        fill: var(--text-white-color);
      }
    }

    &__icon {
      width: 24px;
      fill: var(--brand-lightcoral-color);
    }
  }
}
