/* For mobile phones: */
.subscribe {
  display: flex;
  align-items: center;
  margin-top: 20px;
  &__input {
    border: 1px solid var(--border-color);
    border-right: none;
    height: 40px;
    padding: 10px;
    &::placeholder {
      color: var(--text-gray-color);
      font-size: 10px;
      padding: 10px;
    }
  }
  &__button {
    background-color: var(--brand-riptide-color);
    color: var(--text-white-color);
    height: 40px;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .subscribe {
    margin-top: 0;
    &__input {
      &::placeholder {
        font-size: 15px;
        padding: 5px;
      }
    }
    &__button {
      font-size: 15px;
      padding: 10px 40px;
    }
  }
}
