.team {
  text-align: center;
  &__item {
    margin-top: 50px;
  }

  &__image {
    width: 100%;
  }

  &__name {
    font-size: 20px;
    margin-top: 10px;
  }
  &__text {
    font-size: 14px;
    font-style: italic;
    color: var(--text-gray-color);
    font-family: var(--text-font);
    margin-top: 10px;
  }
}
