:root {
  --brand-lightcoral-color: #f38181;
  --brand-visvis-color: #fce38a;
  --brand-snowflurry-color: #eaffd0;
  --brand-riptide-color: #95e1d3;

  --background-color: #95e1d3;

  --text-black-color: #333333;
  --text-white-color: #ffffff;
  --text-gray-color: #999999;

  --vector-color: #95e1d3;

  --border-color: #e7e7e7;

  --brand-font: 'Montserrat', sans-serif;
  --decorative-font: 'Kaushan Script', cursive;
  --text-font: 'Roboto', sans-serif;

  --transition: all 0.3s ease-in;
}
